﻿
@{
    ViewBag.Title = "AddFeatureProduct";
}

@using (Html.BeginForm("SaveFeatureProducts", "Products", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
<div>

    <h1>Add Product information</h1>
    Product Name : @Html.TextBox("Name") <br /><br />

    Product Type :  @Html.TextBox("ProductType") <br /><br />

    Product Name (In Spanish) : @Html.TextBox("Name_es") <br /><br />

    Product Type (In Spanish) :  @Html.TextBox("ProductType_es") <br /><br />

    Image : <input type="file" name="file" id="file" style="width: 100%;" /> <br /><br />

    <input type="submit" value="Submit" />
</div>
}

