﻿
@{
    ViewBag.Title = "AddProduct";
}

@using (Html.BeginForm("SaveProduct", "Products", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div>

        <h1>Add Product information</h1>
        Code : @Html.TextBox("Code") <br /><br />

        Type :  @Html.TextBox("Type") <br /><br />

        Description : @Html.TextBox("Description") <br /><br />

        FDA :  @Html.CheckBox("FDA") <br /><br />

        Weight : @Html.TextBox("Weight") <br /><br />

        Operational temperature : @Html.TextBox("MaxUseTemp") <br /><br />

        Color : @Html.TextBox("Color") <br /><br />

        Carrier : @Html.TextBox("Carrier") <br /><br />

        Film Build Per Coat : @Html.TextBox("FilmBuildPerCoat") <br /><br />

        Max Total Film Build : @Html.TextBox("MaxTotalFilmBuild") <br /><br />

        <input type="submit" value="Submit" />
    </div>
}

