﻿<br>
<br>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" style="margin-left: 100px;"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form onsubmit="return false" class="form-horizontal form-label-left input_mask">

                    <div class="form-group">
                        <div class="col-md-12 col-sm-4 col-xs-12 form-group has-feedback">
                            <input class="form-control Old-Password" id=" inputsuccess2" type="password" placeholder="Old Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-4 col-xs-12 form-group has-feedback">
                            <input class="form-control New-Password" id="inputsuccess2" type="password" placeholder="New Password">
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12 form-group has-feedback">
                            <input class="form-control Confirm-Password" id="inputsuccess2" type="password" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                            <button onclick="sa.changePassword.update()" class="btn btn-success" style="width: 100px; margin-left: 10px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>