﻿    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Dashboard</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 bg-white">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Most Stayed Screen <small id="most-stayed-screen-count"></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div id="most-stayed-screen-graph-container" class="col-md-12 col-sm-12 col-xs-6">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Most Viewed Screens <small id="most-viewed-screens-count"></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="" style="width:100%">
                                <tr>
                                    <th style="width:37%;">
                                        <p>Top 5</p>
                                    </th>
                                    <th>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                            <p class="">Screens</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <p class="">Progress</p>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                    </td>
                                    <td>
                                        <table class="tile_info view-screen-pie-chart"></table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Most Calculated Coating <small id="most-calculated-coating-count"></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Most Search Products <small id="most-searched-products-count"></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="most-searched-products" style="width:100%; height:280px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script>$(document).ready(function(){sa.dashboardService.execute();});</script>