﻿@model System.Collections.Generic.List<TeflonAPI.Models.FeaturedProducts>
@using System.Web.Script.Serialization
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Featured Product Form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form class="form-horizontal form-label-left input_mask" onsubmit="return false">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label>Product Name <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="hidden" class="form-control ProductID" id="inputsuccess2">
                                    <input type="text" class="form-control productName" id=" inputsuccess2" placeholder="Product Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label>Product Type <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control productType" id=" inputsuccess2" placeholder="Product Type">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Product Link <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control productLink" id=" inputsuccess2" placeholder="Product Link">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Product Image</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="file" class="form-control-file productFile" id="featured-product-id" style="color:white;">
                                <br />
                                <img id="ProductImage" class="img-responsive avatar-view" src="" width="100" height="100" alt="No Image" title="Product Image">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>
                                    <input type="checkbox" class="flat Active"> Is Active
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>In Spanish</label>
                            </div>
                            <div class="ln_solid"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label>Product Name <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control productName_es" id=" inputsuccess2" placeholder="Product Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label>Product Type <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control productType_es" id=" inputsuccess2" placeholder="Product Type">
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                                <button onclick="sa.featuredProductService.addFeatureProduct()" type="submit" class="btn btn-success" style="width: 100px; margin-left: 10px;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Featured Products</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Type</th>
                                <th>Product Name (es)</th>
                                <th>Product Type (es)</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img class="img-responsive avatar-view" src='@item.ImageURI.Replace("~", "")' width="100px" height="100px" alt="Image" title="Image"></td>
                                    <td>@item.Name</td>
                                    <td>@item.ProductType</td>
                                    <td>@item.Name_es</td>
                                    <td>@item.ProductType_es</td>
                                    <td><input type="checkbox" class="flat" checked="@(item.IsActive)" disabled="disabled"></td>
                                    <td>
                                        <button onclick="sa.featuredProductService.editFeaturedProduct(@item.FeaturedProductID, '@item.ImageURI')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            sa.featuredProductService.execute();

            @{
                var JavaScript = new JavaScriptSerializer();
                var serializedObject = JavaScript.Serialize(Model);
            }
            sa.featuredProductService.FeaturedProductList = @Html.Raw(serializedObject);
        });
    </script>
