﻿
@{
    ViewBag.Title = "Formulas";
}
<br>
<br>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Formula</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" style="margin-left: 100px;"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form onsubmit="return false" class="form-horizontal form-label-left input_mask">

                    <div class="form-group">
                        <h2 style="margin-bottom:40px; margin-left:10px;">Total Surface Area</h2>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Total Surface Area</label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">=</label>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Part Surface Area</label>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <select id="Operator1_Dropdown" class="form-control Operator1">
                                <option value="Multiply">Multiply</option>
                                <option value="Divide">Divide</option>
                                <option value="Add">Add</option>
                                <option value="Subtract">Subtract</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Number of Parts</label>
                        </div>
                    </div>

                    <hr/>

                    <div class="form-group">
                        <h2 style="margin-bottom:40px; margin-left:10px;">FT(2) of Teflon Needed</h2>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">FT(2) of Teflon </label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">=</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Total Surface Area</label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <select id="Operator2_Dropdown" class="form-control Operator2">
                                <option value="Multiply">Multiply</option>
                                <option value="Divide">Divide</option>
                                <option value="Add">Add</option>
                                <option value="Subtract">Subtract</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Desired Thickness</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12 col-md-offset-4">
                            <select id="Operator3_Dropdown" class="form-control Operator3 ">
                                <option value="Multiply">Multiply</option>
                                <option value="Divide">Divide</option>
                                <option value="Add">Add</option>
                                <option value="Subtract">Subtract</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Transfer Efficiency %</label>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <h2 style="margin-bottom:40px; margin-left:10px;">KG of Teflon</h2>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">KG of Teflon </label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">=</label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">FT(2) of Teflon </label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <select id="Operator4_Dropdown" class="form-control Operator4">
                                <option value="Multiply">Multiply</option>
                                <option value="Divide">Divide</option>
                                <option value="Add">Add</option>
                                <option value="Subtract">Subtract</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                            <label type="text" class="form-control" style="text-align: center">Coverage</label>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                            <button type="submit" onclick="sa.Formulas.updateFormula()" class="btn btn-success" style="width: 100px; margin-left: 10px;">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<script>

    $(document).ready(function () {
        sa.Formulas.getOperators();
    });

</script>

