﻿@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Teflon - Admin Panel </title>

    <!-- Bootstrap -->
    <link href="~/Content/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="~/Content/theme/vendors/prettify/dist/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Content/theme/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Content/theme/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Content/theme/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/theme/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/theme/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/theme/build/css/custom.min.css" rel="stylesheet">

    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/theme/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Content/theme/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Multi_Select -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@

    <link rel="stylesheet" href="~/Content/theme/vendors/multiselect/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="~/Content/theme/vendors/multiselect/dist/js/bootstrap-multiselect.js"></script>


    <!-- Bootstrap -->
    <script src="~/Content/theme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/theme/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/theme/build/js/sa.js"></script>

    <script src="~/Content/theme/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/theme/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <iframe style="    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;" width="100%" height="100%" src="https://intechservices.com/my-teflon-app"></iframe>
        </div>
        <div class="row">
            <div>
                <a class="btn btn-default submit" style="float:right; z-index:100; position:relative; margin-right:50px; margin-top: 40px;" href="~/Home/Login">Go to Admin</a>
            </div>
        </div>
    </div>
</body>
</html>