﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teflon - Admin Panel</title>

    <!-- Bootstrap -->
    <link href="~/Content/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/theme/vendors/animate/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/theme/build/css/custom.min.css" rel="stylesheet">


    <!-- jQuery -->
    <script src="~/Content/theme/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/theme/vendors/nprogress/nprogress.js"></script>

    <script src="~/Content/theme/build/js/sa.js"></script>
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="LoginForm">
                        <h1>Admin Panel</h1>
                        <div>
                            <input type="text" id="email" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" id="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="javascript:sa.loginService.login()">Log in</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script>
        $('#LoginForm').keydown(function (e) {
            var key = e.which;
            if (key == 13) {
                sa.loginService.login();
            }
        });
    </script>
</body>
</html>
