﻿@model System.Collections.Generic.List<TeflonAPI.Models.NewsBlog>
@using System.Web.Script.Serialization
<br>
<br>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Blog Form</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left input_mask" onsubmit="return false">
                    <div class="form-group">

                        <div class='col-md-6 col-sm-6 col-xs-12'>
                            <label> Blog Title <b style="color:red; font-size:15px;">*</b></label>
                            <div class="form-group">
                                <input type="hidden" class="form-control blogID" id="inputsuccess2">
                                <input type="text" class="form-control blogTitle" id=" inputsuccess2" placeholder="Title">
                            </div>
                        </div>

                        <div class='col-md-6 col-sm-6 col-xs-12'>
                            <label> Blog Date <b style="color:red; font-size:15px;">*</b></label>
                            <div class="form-group">
                                <input type="date" class="form-control blogDate" id=" inputsuccess2" placeholder="Date">
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6 col-sm-6 col-xs-12">
                        <label> Blog State</label>
                        <div class="form-group">

                            <select id="StateDropdown" class="select2_group form-control blogState">
                                    <option value="Alaska">Alaska</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="California">California</option>
                                    <option value="Nevada">Nevada</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Montana">Montana</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="NewMexico">New Mexico</option>
                                    <option value="NorthDakota">North Dakota</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Wyoming">Wyoming</option>
                                    <option value="Alabama">Alabama</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Minnesota">Minnesota</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="SouthDakota">South Dakota</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="NewHampshire">New Hampshire</option>
                                    <option value="NewJersey">New Jersey</option>
                                    <option value="NewYork">New York</option>
                                    <option value="NorthCarolina">North Carolina</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="RhodeIsland">Rhode Island</option>
                                    <option value="SouthCarolina">South Carolina</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="WestVirginia">West Virginia</option>
                            </select>
                        </div>
                        </div>*@
                        @*<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control blogState" id=" inputsuccess2" placeholder="State">
            </div>*@


                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label> Blog Details <b style="color:red; font-size:15px;">*</b></label>
                            <div class="form-group">
                                <textarea class="form-control blogDetail" rows="3" placeholder="Details"></textarea>
                            </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Blog Image</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="file" class="form-control-file blogFile" id="news-blog-id" style="color:white;">
                            <br/>
                            <img id="BlogImage" class="img-responsive avatar-view" src="" width="100px" height="100px" alt="No Image" title="Blog Image">
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="flat Active"> Is Active
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                            <button onclick="sa.Blogs.addBlog()" type="submit" class="btn btn-success" style="width: 100px; margin-left: 10px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Blogs</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Blog Image</th>
                            <th>Blog Title</th>
                            @*<th>Blog Details</th>*@
                            <th>Blog Date</th>
                            @*<th>State</th>*@
                            <th>Is Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img class="img-responsive avatar-view" src='@item.Image.Replace("~", "")' width="100px" height="100px" alt="Blog Image" title="Blog Image"></td>
                                <td>@item.Title</td>
                                @*<td>@item.Detail</td>*@
                                <td>@item.Date</td>
                                @*<td>@item.State</td>*@
                                <td><input type="checkbox" class="flat" checked="@(item.IsActive)" disabled="disabled"></td>
                                <td>
                                    <button onclick="sa.Blogs.editBlog(@item.BlogID,'@item.Date','@item.Image')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        sa.Blogs.execute();

                @{
                var JavaScript = new JavaScriptSerializer();
                var serializedObject = JavaScript.Serialize(Model);
            }
        sa.Blogs.BlogList = @Html.Raw(serializedObject);
        });</script>
