﻿@model System.Collections.Generic.List<TeflonAPI.Models.Products>
@using System.Web.Script.Serialization
<head>
    <style>
        .multiselect, .multiselect-container, .multiselect-selected-text, #example-multiple-selected, #example-multiple-selected2 {
            width: 500px;
        }
    </style>
</head>
    <br>
    <br>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Product Form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form onsubmit="return false" class="form-horizontal form-label-left input_mask" novalidate>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Product Code <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="hidden" class="form-control ProductID" id="inputsuccess2">
                                    <input type="text" required="required" class="form-control Code" id="inputsuccess2" placeholder="Product Code">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Product Type <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control type" id=" inputsuccess2" placeholder="Product Type">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Product Description <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control Description" id=" inputsuccess2" placeholder="Product Description">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Weight <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="number" required="required" data-validate-minmax="10,100" min="0" value="0" @*step=".000001"*@ class="form-control weight" placeholder="Weight">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Operational Temperature <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control temp" id=" inputsuccess2" placeholder="Operational Temperature">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Color <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control color" id=" inputsuccess2 color" placeholder="Color">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Carrier <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control carrier" id=" inputsuccess2" placeholder="Carrier">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Film Build Per Coat <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control Film" id=" inputsuccess2" placeholder="Film Build Per Coat">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Max Total Film Build <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control MaxTotalFilm" id=" inputsuccess2" placeholder="Max Total Film Build">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Cure Temperature <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control CureTemperature" id=" inputsuccess2" placeholder="Cure Temperature">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Coverage <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="number" required="required" data-validate-minmax="10,100" value="0" min="0" @*step=".000001"*@ class="form-control Coverage" id=" inputsuccess2" placeholder="Coverage">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Thickness <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control Thickness" id=" inputsuccess2" placeholder="Thickness">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">



                        </div>

                        <div class="form-group">

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <label>Primary Properties <b style="color:red; font-size:15px;">*</b> </label>
                                <div class="form-group">
                                    <select id="example-multiple-selected" class="PrimaryProperties" multiple="multiple">
                                        <option value="Non Stick">Non Stick</option>
                                        <option value="Low Friction">Low Coefficient of Friction</option>
                                        <option value="Heat Resistance">Heat Resistance</option>
                                        <option value="Cryogenic Stability">Cryogenic Stability</option>
                                        <option value="Chemical Resistance">Chemical Resistance</option>
                                        <option value="Abrasion Resistance">Abrasion Resistance</option>
                                        <option value="High Dielectric Strength">High Dielectric Strength</option>
                                        <option value="Determined by Topcoat">Determined by Topcoat</option>
                                    </select>
                                    @*<input type="text" required="required" class="form-control PrimaryProperties" id=" inputsuccess2" placeholder="Primary Properties">*@
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                                <br />
                                <br/>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="flat FDA"> FDA
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                                <br />
                                <br />
                                <label>
                                    <input type="checkbox" class="flat Active"> Is Active
                                </label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                                <br />
                                <br />
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" id="IsAvailableForCoating" class="flat IsAvailableForCoating"> Is Available For Coating?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Compatible Products</label>
                                <div class="form-group">
                                    <textarea class="form-control ProductNotes" placeholder="Compatible Products"></textarea>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>In Spanish</label>
                            </div>
                            <div class="ln_solid"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Product Type <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control Type_es" id=" inputsuccess2" placeholder="Product Type">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Product Description <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control Description_es" id=" inputsuccess2" placeholder="Product Description">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <label>Color <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control Color_es" id=" inputsuccess2" placeholder="Color">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                                <label>Carrier <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <input type="text" class="form-control Carrier_es" id=" inputsuccess2" placeholder="Carrier">
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-8 col-xs-12 form-group has-feedback">
                                <label>Primary Properties <b style="color:red; font-size:15px;">*</b></label>
                                <div class="form-group">
                                    <select id="example-multiple-selected2" class="PrimaryProperties_es" multiple="multiple">
                                        <option value="Antiadherente">Antiadherente</option>
                                        <option value="Bajo coeficiente de fricción">Bajo coeficiente de fricción</option>
                                        <option value="Resistencia al calor">Resistencia al calor</option>
                                        <option value="Estabilidad criogénica">Estabilidad criogénica</option>
                                        <option value="Resistencia química">Resistencia química</option>
                                        <option value="Resistencia a la abrasión">Resistencia a la abrasión</option>
                                        <option value="Alta resistencia dieléctrica">Alta resistencia dieléctrica</option>
                                        <option value="Determinado por Topcoat">Determinado por Topcoat</option>
                                    </select>
                                    @*<input type="text" class="form-control Properties_es" id=" inputsuccess2" placeholder="Primary Properties">*@
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Compatible Products</label>
                                <div class="form-group">
                                    <textarea class="form-control ProductNotes_es" placeholder="Compatible Products"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                                <button onclick="sa.productService.addProduct()" class="btn btn-success" style="width: 100px; margin-left: 10px;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Products</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Product Type</th>
                                <th>Product Description</th>
                                <th>Weight</th>
                                <th>Color</th>
                                <th>Carrier</th>
                                <th>FDA</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Type</td>
                                <td>@item.Description</td>
                                <td>@item.Weight</td>
                                <td>@item.Color</td>
                                <td>@item.Carrier</td>
                                <td><input type="checkbox" class="flat" checked="@(item.FDA)" disabled="disabled" value="@(item.FDA)"></td>
                                <td><input type="checkbox" class="flat" checked="@(item.IsActive)" disabled="disabled" value="@(item.IsActive)"></td>
                                <td>
                                    <button onclick="sa.productService.editProduct(@item.ProductID)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {

            @{ 
                var JavaScript = new JavaScriptSerializer();
                var serializedObject = JavaScript.Serialize(Model);
            }
            sa.productService.ProductList = @Html.Raw(serializedObject);
        });
    </script>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            $(document).on("click", "#datatable-responsive tbody tr td button.btn", function () { // any button
               
                $('#example-multiple-selected').multiselect('refresh');
                $('#example-multiple-selected2').multiselect('refresh');
            });

            $('#example-multiple-selected').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                nonSelectedText: 'Select primary properties',
                enableCaseInsensitiveFiltering: true
            });
            $('#example-multiple-selected2').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                nonSelectedText: 'Select primary properties',
                enableCaseInsensitiveFiltering: true
            });
        });


    </script>