﻿@model System.Collections.Generic.List<TeflonAPI.Models.GeneralSettings>
@using System.Web.Script.Serialization
<br>
<br>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>General Settings</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left input_mask" onsubmit="return false">
                    <div class="form-group">

                        <div class='col-md-6 col-sm-6 col-xs-12'>
                            <label>Website Link</label>
                            <div class="form-group">
                                <input type="hidden" class="form-control WebLinkID" id="inputsuccess2" value="@Model.Where(x=>x.Type.Equals("ContactWeb")).Select(x=>x.SettingsID).FirstOrDefault()">
                                <input type="text" class="form-control WebsiteLink" id=" inputsuccess2" placeholder="Website Link" value="@Model.Where(x=>x.Type.Equals("ContactWeb")).Select(x=>x.Content).FirstOrDefault()">
                            </div>
                        </div>

                        <div class='col-md-6 col-sm-6 col-xs-12'>
                            <label>Phone Number</label>
                            <div class="form-group">
                                <input type="hidden" class="form-control NumberID" id="inputsuccess2" value="@Model.Where(x=>x.Type.Equals("ContactPhone")).Select(x=>x.SettingsID).FirstOrDefault()">

                                @*<input type="text" class="form-control" data-inputmask="'mask' : '(999) 999-9999'">*@


                                <input type="text" class="form-control PhoneNumber" id=" inputsuccess2" placeholder="Phone Number" data-inputmask="'mask' : '(999) 999-9999'" value="@Model.Where(x=>x.Type.Equals("ContactPhone")).Select(x=>x.Content).FirstOrDefault()">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>About Us</label>
                            <div class="form-group">
                                <input type="hidden" class="form-control AboutUsID" id="inputsuccess2" value="@Model.Where(x=>x.Type.Equals("About-en")).Select(x=>x.SettingsID).FirstOrDefault()">
                                <textarea class="form-control AboutUs" rows="10" placeholder="Content">@Model.Where(x=>x.Type.Equals("About-en")).Select(x=>x.Content).FirstOrDefault()
                                </textarea>
                            </div>
                        </div>

                    </div>

                    <br />
                    <br />
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>In Spanish</label>
                        </div>
                        <div class="ln_solid"></div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>About Us</label>
                            <div class="form-group">
                                <input type="hidden" class="form-control AboutUs_EsID" id="inputsuccess2" value="@Model.Where(x=>x.Type.Equals("About-es")).Select(x=>x.SettingsID).FirstOrDefault()">
                                <textarea class="form-control AboutUs_Es" rows="10" placeholder="Content">@Model.Where(x=>x.Type.Equals("About-es")).Select(x=>x.Content).FirstOrDefault()</textarea>
                            </div>
                        </div>

                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-md-offset-5">
                            <button onclick="sa.SettingsService.addSetting()" type="submit" class="btn btn-success" style="width: 100px; margin-left: 10px;">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

