﻿@model System.Collections.Generic.List<TeflonAPI.Models.DAO.UsersDAO>
@using System.Web.Script.Serialization
<br>
<br>
<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Non Approved Users</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Company</td>
                                <td>@item.Email</td>
                                <td>
                                    <button type="button" onclick="sa.UsersService.approved(@item.UserID,true,false)" class="btn btn-success btn-xs">Approve</button>
                                    <button type="button" onclick="sa.UsersService.approved(@item.UserID,false,true)" class="btn btn-danger btn-xs">Reject</button>

                                    <!-- <button onclick="sa.productService.editProduct()" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button> -->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
