﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Teflon - Admin Panel </title>

    <!-- Bootstrap -->
    <link href="~/Content/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="~/Content/theme/vendors/prettify/dist/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Content/theme/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Content/theme/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Content/theme/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/theme/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/theme/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/theme/build/css/custom.min.css" rel="stylesheet">

    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/theme/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Content/theme/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Multi_Select -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@

    <link rel="stylesheet" href="~/Content/theme/vendors/multiselect/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="~/Content/theme/vendors/multiselect/dist/js/bootstrap-multiselect.js"></script>


    <!-- Bootstrap -->
    <script src="~/Content/theme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/theme/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/theme/build/js/sa.js"></script>

    <script src="~/Content/theme/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/theme/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/home/dashboard" class="site_title"><i class="fa fa-paw"></i> <span>Admin Panel</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="/home/dashboard"><img width="14" height="14" src="~/Content/dashboard.png" />&nbsp;&nbsp;&nbsp; Dashboard </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/product"><img width="14" height="14" src="~/Content/products.png" />&nbsp;&nbsp;&nbsp; Products </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/FeaturedProducts"><img width="14" height="14" src="~/Content/featured_product.png" />&nbsp;&nbsp;&nbsp; Feature Products </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/Newsfeed"><img width="14" height="14" src="~/Content/newsfeed.png" />&nbsp;&nbsp;&nbsp; News Feed </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/Formulas"><img width="14" height="14" src="~/Content/formula.png" />&nbsp;&nbsp;&nbsp; Formula </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/Settings"><img width="14" height="14" src="~/Content/settings.png" />&nbsp;&nbsp;&nbsp; Settings </a></li>
                            </ul>
                            <ul class="nav side-menu">
                                <li><a href="/home/logout"><img width="14" height="14" src="~/Content/logout.png" />&nbsp;&nbsp;&nbsp; Logout </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/content/theme/production/images/user.png" alt="">Admin
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/home/ChangePassword"> Change Password</a></li>
                                    <li><a href="/home/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <div class="right_col" role="main">@RenderBody()</div>
        </div>
    </div>

    <footer>
        <div class="pull-right">
            Teflon - Admin Panel
        </div>
        <div class="clearfix"></div>
    </footer>

    <script src="~/Content/theme/vendors/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <!-- FastClick -->
    <script src="~/Content/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/theme/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/theme/vendors/gauge.js/dist/gauge.min.js"></script>

    <!-- iCheck -->
    <script src="~/Content/theme/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Content/theme/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Content/theme/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Content/theme/vendors/prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Content/theme/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/Content/theme/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/theme/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/Content/theme/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Content/theme/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Content/theme/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/Content/theme/vendors/starrr/dist/starrr.js"></script>
    <!-- Skycons -->
    <script src="~/Content/theme/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Content/theme/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/theme/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/theme/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/theme/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/theme/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/theme/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/theme/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/theme/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/theme/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/theme/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

    <script src="~/Content/theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Ion.RangeSlider -->
    <script src="~/Content/theme/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="~/Content/theme/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/theme/build/js/custom.js"></script>

    <script src="~/Content/theme/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/theme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- morris.js -->
    <script src="~/Content/theme/vendors/raphael/raphael.min.js"></script>
    <script src="~/Content/theme/vendors/morris.js/morris.min.js"></script>

    <!-- Datatables -->
    <script src="~/Content/theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/theme/build/js/custom.js"></script>

    <!-- jquery.inputmask -->
    <script src="~/Content/theme/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

</body>
</html>